<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sitting_room.lockscreen" >

    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:label="@string/app_name" >

        <service android:name=".MyService" />

        <activity
            android:name=".LockScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
<!--
                <action android:name="android.intent.action.MAIN" />
-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!--Launch the app on startup-->
        <receiver
            android:name=".StartupActivity"
            android:label="@string/title_activity_startup"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON"></action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>


        <!--Make the device a admin-->
        <receiver
            android:name=".MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@layout/policies" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



    </application>

</manifest>
